h {

  font-family:"Ewert", serif;
  color: green;
}

p {

font-family:"Comic Neue", cursive;
color: purple;
}

li {

  font-family:"Comic Neue", cursive;
  color: purple;  
}

ul {

  font-family:"Comic Neue", cursive;
color: purple;
}


.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}
.ewert-regular {
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
}
